@model Genre
@{
    ViewData["Title"] = "Update Genre";
}

<div class="card shadow border">
    <div class="card-header bg-warning bg-gradient ml-0 py-4">
        <div class="col-12 text-center">
            <h2 class="card-title text-white">Update Genre</h2>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Update" enctype="multipart/form-data">
            <input asp-for="GenreID" hidden />
            <div class="form-group mb-3">
                <label asp-for="GenreName" class="control-label"></label>
                <input asp-for="GenreName" class="form-control" />
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button type="submit" class="w-100 btn btn-lg btn-outline-warning">Update</button>
                <a asp-action="Index" class="w-100 btn btn-lg btn-secondary mt-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
